@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #333;
}

body.home {
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-image: url("./images/background.png");
}

section.container {
    background-color: #fff;
}

section.container h2 {
    color: #0984E3;
    font-weight: 700;
    font-size: 220%;

}

section.container p {
    color: #333;
}

.content-after-header {
    background-color: #fff;
    /* Color blanco de fondo */
    padding: 2rem;
    /* Ajusta según sea necesario */
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    max-width: 140px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-left: 35%;
    /* Alinear los enlaces a la derecha */
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #333;
    font-weight: 500;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #0984E3;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #0984E3;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #333333;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #0984E3;
    z-index: -100;
}

header {
    position: relative;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    gap: 10rem;
    margin-bottom: 10%;
    min-height: 80vh;
}


header .content {
    flex: 1;
    /* Ocupa todo el espacio disponible */
}

header .content h1 {
    color: 333333;
    margin-bottom: 1rem;
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 4rem;
}

header .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content h1 {
    color: #333333;
    margin-bottom: 1rem;
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 4rem;
}

header .content p {
    margin-bottom: 2rem;
    color: #333333;
}

header .content button {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #0984E3;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}


header .content button:hover {
    background-color: #333333;
}

header .image {
    flex: 1;
    /* Ocupa todo el espacio disponible */
}

header .image img {
    max-width: 100%;
    /* Ajusta el ancho máximo de la imagen */
}


section .header {
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.features .card {
    background-color: #eaeaea;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover {
    background-color: #c4c4c4;
}

.features .card span {
    display: inline-block;
    background-color: #333333;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #eaeaea;
    border-radius: 5px;
}

.features .card h4 {
    margin-bottom: 0.5rem;
    color: #333333;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p {
    color: #333333;
    margin-bottom: 1rem;
}

.features .card a {
    color: #333333;
    transition: all 0.3s ease;
}


.sub-header {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10%;
    gap: 2rem;
}

.app-image {
    max-width: 300px;
}

.app-image img {
    width: 100%;
    height: auto;
}

.app-details {
    max-width: 400px;
    /* Ajusta según sea necesario */
}

footer {
    position: relative;
    display: grid;
    grid-template-columns: 400px 1fr 1fr auto;
    gap: 2rem;
    justify-content: center;
    /* Alinea las columnas horizontalmente al centro */
}

footer .column .logo {
    max-width: 80px;
    margin-bottom: 2rem;
}

footer .column p {
    color: #333333;
    margin-bottom: 2rem;
}

footer .column .socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a {
    color: #333333;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover {
    color: #fff;
    background-color: #0984E3;
    border-color: #0984E3;
}

footer .column h4 {
    color: #333333;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column>a {
    display: block;
    color: #333333;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column>a:hover {
    color: #0984E3;
}

.copyright {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #333333;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
}

.mobile-menu {
    display: none;
}

.menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.menu-icon span {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 5px 0;
}

.mobile-nav-links {
    list-style: none;
    display: none;
}

.mobile-nav-links li {
    text-align: center;
}

.mobile-nav-links.show {
    display: block;
}

@media (max-width: 899px) {
    .contact-column {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-nav-links {
        list-style: none;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .mobile-nav-links li {
        margin: 10px 0;
    }
}

@media (width < 899px) {
    .nav-links {
        display: none;
    }

    .contact-column {
        justify-self: end;
    }
}

header {
    grid-template-columns: repeat(1, 1fr);
}

header .image {
    grid-area: 1/1/2/2;
}

.features {
    grid-template-columns: repeat(2, 1fr);
}

.pricing {
    grid-template-columns: repeat(2, 1fr);
}

footer {
    grid-template-columns: 1fr 150px;
}


@media (max-width: 600px) {

    .nav-logo {
        max-width: 110px;
    }

    header {
        grid-area: 1/1/2/2;
    }

    header .image {
        display: none;
        /* Oculta la imagen en dispositivos más pequeños */
    }

    .features {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        grid-template-columns: 1fr 150px;
    }
}